---
interface Props {
    img: string;
    eventTitle: string;
    description: string;
    url: string;
    user : user;
}

const {img, eventTitle, description, url} = Astro.props

---
<a href={url}>
    <article class="w-full grid max-w-72">
        <figure class="max-w-72 row-start-1 col-start-1">
            <img class="w-full aspect-square object-cover rounded-2xl "
                 src={img} alt={`Imagen promocional ${eventTitle}`} loading="lazy"/>
        </figure>
        <section class=" rounded-xl bg-black/[.4] text-center px-6 py-6
        text-white flex justify-between flex-col row-start-1 col-start-1">
            <p class="font-title text-lg">
                {eventTitle}
            </p>
            <p class="text-xs">
                {description}
            </p>
        </section>
    </article>
</a>
